@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  font-family: 'Roboto', sans-serif;
}
html {
  font-size: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}
h1 {
  font-size: 3rem;
}
.app-wrap {
  margin: 0 auto;
  width: 1140px;
  padding-top: 65px;
}
.edit-wrap {
  border: 5px solid #000;
  width: 500px;
  padding: 25px;
  float: left;
}
.edit-wrap__title {
  margin-bottom: 30px;
  text-align: center;
}
.edit-wrap .formItemsDesc {
  width: 200px;
  font-size: 1.2rem;
  line-height: 1.9rem;
  display: inline-block;
  padding-bottom: 0px;
  margin-bottom: 20px;
}
.edit-wrap .formItemsField {
  width: 250px;
  font-size: 1.2rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
  display: inline-block;
  padding: 0px 5px 0px;
  outline: none;
}
.edit-wrap .formBtnAdd {
  width: 200px;
  text-transform: uppercase;
  height: 50px;
  margin: 0 auto;
  display: block;
  border: 0px;
  background: #1abc9c;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 10px;
}
.list-of-courses {
  list-style-type: none;
  width: 200px;
  padding-left: 0px;
}
.list-of-courses .single-course {
  position: relative;
  margin-top: 15px;
  border-bottom: 2px solid #d3d3d3;
  width: 485px;
  line-height: 2rem;
}
.list-of-courses .single-course .removeBtn {
  top: 0px;
  right: 0px;
  border: 0px;
  background: transparent;
  color: #000;
  font-weight: bold;
  font-size: 1.4rem;
  position: absolute;
}
.course-wrap {
  padding-left: 55px;
  width: 500px;
  float: left;
  border: 5px solid #000;
  margin-left: 20px;
  padding: 25px;
  height: 314px;
  overflow-y: scroll;
}
.course-wrap__title--main {
  margin-bottom: 30px;
  text-align: center;
}
.course-wrap__title {
  display: inline-block;
  width: 90px;
  font-size: 22px;
  margin-bottom: 10px;
}
.course-wrap input {
  border: 0px;
  outline: none;
  font-size: 18px;
}
